@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");



/*' General styles*/
* { padding: 0;
    margin: 10px;
    box-sizing: border-box;
}
 

body {
    min-height: 100vh;
    font-family: gluten, roboto, sans-serif;
    font-size: large;
    background-color:ivory;
    color:#285780;
    text-align: justify;
    background-size:auto;
         }

 
/* Nav toggle - change menu with drop down -dont use them because HTML doesn´t work
 

     .navbar {
      position: absolute;
      background-color: ivory;
      padding-left: 0.7rem;
      width: 100vw;
      box-shadow: 0 3px 3px #59664ade;
      display: block;
      top: 7%;
      left: 0;
  }
  #nav-toggle:checked~nav {
      display: block;
     
  }
  #nav-toggle {
      display: none;
  }
  .nav-toggle-label {
      font-size: .8rem;
      color:#285780;
   display: none;
      padding-right: 1rem;
  }
   */
       /* menu in header*/
     nav {
        position:absolute;
        width: 70%;
        box-shadow: 0 5px 10px 5px #3a3a3a;  
        background-color: ivory;
        top:40px ;
        margin-left: 30px;
        }

          /* mark active side on menu*/
        .active {
          color:#285780;
          border: 2px solid rgb(25, 157, 209);
      }
    
      a:hover {
        color: #285780;
        background-color:ivory;
        transition: .8s;
    }
/* header text */
       a {
              color: #285780;
       }

/* placement of menu in header*/
   #menu {
    font-size: 110% ;
    letter-spacing: 2px;
       list-style-type: none;
       text-align: left;
       margin-right: 15px;
         }
      
         
header {
       font-size: large;
     }
 

     /* size and placement of background picture in header*/
#header{ 
background: url("../img/header.webp") no-repeat center center / cover;
 width: 100%;
 height: 600px;
 position: relative;
 opacity: 0.8;
 margin: 0;
  }

   
  main {
    padding: 20px;}
   

 
      
   /* size and position of description text*/
   .rent {
  padding: 10px 10px 20px 10px;
    font-size: x-large;
  text-align: left ;
}

/* picture of house on home side and div text under*/
#text {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 5px 20px 5px;
margin-right: 10px;
box-sizing: content-box;                      
}

/* house-picture */
#house {
 width: 60%;
 height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 5px 20px 5px;
}

.spacer {
  margin: 50px 20px 20px 0px;
          font-size: x-large;
}
/* beach-picture */
#beach {
 
  display: flex;
  align-items: flex-start;
  width: 85%  ;
  height: auto;
  flex-direction: column;
  padding: 10px 5px 20px 5px;
}


/* header for Gallery*/
#pictures{
  margin-block: revert;
  color: #285780;
  text-align: center;
}


.gallery {
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  margin: 5px;
  width:100%;
              }

    .gallery img{
      width: 80%;
      height:auto;
      margin: 5px;
  }

  /* winter-picture*/
#winter {
margin: 30px 0 20px 0;
width:100%;
height:auto;
}   
 
   /* description text of the area*/
   .location {
    font-size: x-large;
    margin: 100px 20px 30px 0 ;
}
/*Google-map */
.map {
    clip-path: margin-box;
    margin: 50% 20px 10px 0  ;
  } 

  iframe {
    width: 100%;
    height: 500px;
  }
/* Rental page with sign up form*/
#form {
    margin: 5px;
    padding: 10px 10px 50px 10px  ;
    position: relative;
    background-position: center;
     }    

 
 .text-input {
    background: transparent;
    width: 50%;
    height: 25px;
    border: 1px solid #285780;
    border-radius: 5px;
    display: block; }
    /* bigger space for message*/
    
 #message{
    height: 50px; }
  
    
    /* submit button*/
   .submit {
    margin-top: 25px;
    width: 75%;
    height: 30px;
   }

/* Footer with logos*/  

   #social-networks {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #285780;
    font-size: 110%;
   width: 100%;
   height: 80px;
    color:ivory;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color:ivory;
    margin: 0;
}
/* contact name in footer*/

#contact {
  padding: 15px;
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 0%;
}

/* errorpage 404 with img*/
.container {
  text-align: center;
}

.error-img{
  width: 30%; 
}

/* media query: 280PX and up*/
nav {
 
  margin-left: 10px;
  }


 /* Media query: Large or landscape phones (576px and up)*/
 @media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
 }
 /* Media query: Large or landscape phones (660px and up)*/
 @media screen and (min-width: 660px) {
   .header {font-size: xx-large;}
    
    .gallery img {
      display: flex;
      flex-direction: row;
      width: 50%;    
      border-radius: 20px;        
      }
      #winter{ border-radius: 20px;
      width: 80%;
    }
       #social-networks {
        padding: 0 10px 0 10px;
        display: flex;
        align-items: flex-end;
        width: 100%;
       
 }
}
     
 /* Media query: Large or landscape phones (1200px and up)*/
 @media screen and (min-width: 1200px) {
      .gallery {
        display: flex;
        flex-direction: row;
      }
      #winter{ 
        width: 100%;}
 } 

