@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*' General styles*/
* { padding: 0;
    margin: 0;
       box-sizing: border-box;
 }
header {
    text-align: center;
    background-color: moccasin;
}
header > h1{
    font-size: xx-large;
    
}


body {
    min-height: 100vh;
    font-family: oswald, roboto, sans-serif;
    font-size: small;
    background-color:ivory;
    color:#285780;

  
    text-align: justify;
    background-size: auto;
      

   }
   nav {
    position:relative;
       padding: 5% 10% 30px 10%;
      display: flex;
   top: 5%;
   float: right;
   }

   #menu {
    font-size: 110% ;
    letter-spacing: 2px;
    float: right;
    display: flex;
    flex-direction: column;
    margin:10px 5% 10px 5%;
    list-style-type: none;
    list-style-position: outside;
   }
    
    
    #cover-text{
        background-color: transparent;
        font-size: x-large;
        position: absolute;
        color: ivory;
        top: 200px;
        left: 20px;
        padding: 10px;
        text-transform: none;
        z-index: 1;
       
    }
   /* size and position of background picture*/
   .view{
    height:auto;
    max-width: 100%;
    float: left;
    padding: 10px 0 20px 0;
    

   }
/*background picture*/
   #view {
    background-image: url("..assets/img/krokviken-view.jpg") no-repeat center/ cover;
    position: relative;
    opacity: 0.5;   
     }
 .rent > h3 {
    padding: 0 10px 20px 10px;
        font-size: large;
    clear:both ;  
}


       /* div containers and picture of house*/
       #house-container {
        border-top: 1px solid #285780;
        display: flex;
        width: 80%;
        padding-top: 20px;
       }

       #house {
        background-image: url("/workspace/rent-a-house/assets/img/krokviken-house.jpg");
        background-repeat: no-repeat; 
        display: flex;
        align-items: flex-start;
        width: 70%;
        flex-direction: row;
        padding: 10px 5px 20px 5px;
        float: left;
        margin-left: 30px;

    }
    #text{
               font-size: small;
               display: flex;
               flex-basis: 500%;
               flex-direction: row;
               padding: 10px 5px 20px 5px;
          margin-right: 10px;
          float: right;
          box-sizing: content-box;                      

    }
    .spacer{
        margin-bottom: 15px;
    }


#gallery {
    
}
/* Rental page with sign up form*/

     
   

  