@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*' General styles*/
* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
header {
    text-align: left;
    margin-top: 30px;
 
}
/*
header > h1{
    font-size: xx-large;
    
}*/


body {
    min-height: 100vh;
    font-family: oswald, roboto, sans-serif;
    font-size: small;
    background-color:ivory;
    color:#285780;
    text-align: justify;
    background-size: auto;
       }

   nav {
    position:relative;
    width: 100%;
    padding: 0 1rem;

    /* border between heading and body*/
    box-shadow: 0 2px 2px #3a3a3a;  
    top: 100%   
 /*display: none; */
    /*
    padding: 5% 10% 30px 10%;
      display: flex;
   top: 5%;
   float: right;*/
   }

/* Nav toggle - regulates border under menu - 
#nav-toggle:checked~nav {
    display: block;
}*/

   #menu {
    font-size: 110% ;
    letter-spacing: 2px;
   /* display: flex;
    flex-direction: column;*/
    margin:10px 5% 10px 5%;  
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  
      }
   
    /*covertext on the picture*/
    #cover-text{
        background-color: transparent;
        font-size: 150%;
        position: absolute;
        color: ivory;
        padding-top: 10%;
        padding-left: 20px;
        padding-bottom: 50px;
        text-transform: none;
        text-align: start;
           
       
    }
   /* size and position of description text*/
   .view{
    height:auto;
    max-width: 100%;
    float: left;
    padding: 10px 0 20px 0;
       }

/*background picture*/
   #view {
    background-image: url("..assets/img/krokviken-view.jpg") ;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.5;   
     }


 .rent {
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    font-size: medium;
 }



       #house {
        background-image: url("/workspace/rent-a-house/assets/img/krokviken-house.jpg");
        background-repeat: no-repeat; 
        display: flex;
        align-items: flex-start;
        width: 60%;
        flex-direction: column;
        padding: 10px 5px 20px 5px;
        float: left;
        /*margin-left: 25%;*/

    }
    #text {
               font-size: medium;
               display: flex;
               flex-direction: column;
               flex: 1;
               padding: 10px 5px 20px 5px;
            margin-right: 10px;
            box-sizing: content-box;                      

    }
    .spacer {
        margin: 15px 15px 15px 25px;
    }
    .gallery {
        background-repeat: no-repeat; 
        display: flex;
        flex-direction: column;
       /* till större skärmar 
       border-radius: 20px; */
        margin: 5px;
        width:100%;
                    }

        

        .gallery img{
            width: 80%;
            height:auto;
            margin: 5px;
        }


   /* description text of the area*/
.location {
    font-size: medium;
    margin: 20px;
}
/*Google-map */
.map {
    clip-path: margin-box;
  } 


/* Rental page with sign up form*/
#form {
    margin: 10px;
    padding: 10px 10px 0px 10px  ;
    position: relative;
    background-position: center;
     }    

 
 .text-input{
    background: transparent;
    width: 50%;
    height: 25px;
    border: 1px solid #285780;
    border-radius: 5px;
    display: block;
    
   .submit {
    margin-top: 25px;
    width: 75%;
    height: 30px;
   }


 
   

  